/api/dist/
/api/logs/
/api/node_modules
/.idea/
/api/coverage
/*.iml
/*.log
/api/*.log
/*.http
/api/*.http
/api/src/config/local.json
/node-api
/api/src/main/resources/*local.properties
/api/*.iml
/api/trax-notification-api.iml
